Source: ironbar
Section: main
Priority: optional
Maintainer: ferrreo <harderthanfire@gmail.com>
Standards-Version: 4.6.1
Build-Depends: 
               debhelper-compat (= 13),
               build-essential,
               libgtk-3-dev,
               libgtk-layer-shell-dev,
               libssl-dev,
               cargo,
Rules-Requires-Root: no

Package: ironbar
Architecture: linux-any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Provides: ironbar
Description: Wayland native bar
